In [7]:
import zipfile
from pathlib import Path

# go up to project root from inside notebooks/
project_root = Path("..")

data_raw = project_root / "data_raw"
data_processed = project_root / "data_processed"
data_processed.mkdir(exist_ok=True)

zip_files = list(data_raw.glob("*.zip"))
print("Found zip files:", zip_files)

zip_path = zip_files[0]  # first file found
with zipfile.ZipFile(zip_path, 'r') as z:
    z.extractall(data_processed)

list(data_processed.iterdir())

Found zip files: [WindowsPath('../data_raw/road-america.zip')]

[WindowsPath('../data_processed/road-america')]

In [8]:
from pathlib import Path
import pandas as pd

project_root = Path("..")
data_processed = project_root / "data_processed" / "road-america" / "Road America"

race_1_path = data_processed / "Race 1"
race_2_path = data_processed / "Race 2"

race_1_csvs = list(race_1_path.glob("*.csv"))
race_2_csvs = list(race_2_path.glob("*.csv"))

print("Race 1 Files:")
for f in race_1_csvs:
    print("-", f.name)

print("\nRace 2 Files:")
for f in race_2_csvs:
    print("-", f.name)

Race 1 Files:
- 03_Provisional Results_Race 1_Anonymized.CSV
- 03_Results GR Cup Race 1 Official1_Anonymized.CSV
- 05_Provisional Results by Class_Race 1_Anonymized.CSV
- 05_Results by Class GR Cup Race 1 Official_Anonymized.CSV
- 23_AnalysisEnduranceWithSections_Race 1_Anonymized.CSV
- 26_Weather_Race 1_Anonymized.CSV
- 99_Best 10 Laps By Driver_Race 1_Anonymized.CSV
- R1_road_america_telemetry_data.csv
- road_america_lap_end_R1.csv
- road_america_lap_start_R1.csv
- road_america_lap_time_R1.csv

Race 2 Files:
- 03_Provisional Results_Race 2_Anonymized.CSV
- 03_Results GR Cup Race 2 Official_Anonymized.CSV
- 05_Provisional Results by Class_Race 2_Anonymized.CSV
- 05_Results by Class GR Cup Race 2 Official_Anonymized.CSV
- 23_AnalysisEnduranceWithSections_Race 2_Anonymized.CSV
- 26_Weather_Race 2_Anonymized.CSV
- 99_Best 10 Laps By Driver_Race 2_Anonymized.CSV
- R2_road_america_telemetry_data.csv
- road_america_lap_end_R2.csv
- road_america_lap_start_R2.csv
- road_america_lap_time_R2.csv

In [9]:
from pathlib import Path
import pandas as pd

project_root = Path("..")
data_processed = project_root / "data_processed" / "road-america" / "Road America"
race_1_path = data_processed / "Race 1"

# --- load main lap-time file ---
lap_time_path = race_1_path / "road_america_lap_time_R1.csv"
lap_times_r1 = pd.read_csv(lap_time_path)

print("Lap times shape:", lap_times_r1.shape)
display(lap_times_r1.head())
print("Lap times columns:", lap_times_r1.columns.tolist())

# --- load official result sheet ---
results_official_path = race_1_path / "03_Results GR Cup Race 1 Official1_Anonymized.CSV"
results_official_r1 = pd.read_csv(results_official_path)

print("\nOfficial results shape:", results_official_r1.shape)
display(results_official_r1.head())
print("Official results columns:", results_official_r1.columns.tolist())

# --- (optional) peek telemetry ---
telemetry_path = race_1_path / "R1_road_america_telemetry_data.csv"
telemetry_r1 = pd.read_csv(telemetry_path)

print("\nTelemetry shape:", telemetry_r1.shape)
display(telemetry_r1.head())
print("Telemetry columns:", telemetry_r1.columns.tolist())

Lap times shape: (221, 10)

,expire_at,lap,meta_event,meta_session,meta_source,meta_time,outing,timestamp,value,vehicle_id
0,NaN,32768,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:16:11.729Z,0,2025-08-16T19:16:10.678Z,1041902,GR86-022-13
1,NaN,32768,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:16:23.751Z,0,2025-08-16T19:16:14.490Z,2588041,GR86-047-21
2,NaN,32768,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:16:23.969Z,0,2025-08-16T19:16:18.336Z,3079666,GR86-063-113
3,NaN,32768,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:16:36.617Z,0,2025-08-16T19:16:36.072Z,268481,GR86-035-11
4,NaN,32768,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:16:48.916Z,0,2025-08-16T19:16:46.393Z,2277387,GR86-013-80

Lap times columns: ['expire_at', 'lap', 'meta_event', 'meta_session', 'meta_source', 'meta_time', 'outing', 'timestamp', 'value', 'vehicle_id']

Official results shape: (28, 1)

  POSITION;NUMBER;STATUS;LAPS;TOTAL_TIME;GAP_FIRST;GAP_PREVIOUS;FL_LAPNUM;FL_TIME;FL_KPH;CLASS;GROUP;DIVISION;VEHICLE;TIRES;ECM Participant Id;ECM Team Id;ECM Category Id;ECM Car Id;ECM Brand Id;ECM Country Id;*Extra 7;*Extra 8;*Extra 9;Sort Key;DRIVER_*Extra 3;DRIVER_*Extra 4;DRIVER_*Extra 5
0  1;55;Classified;15;45:03.689;-;-;14;2:43.767;1...
1  2;7;Classified;15;45:04.341;+0.652;+0.652;14;2...
2  3;13;Classified;15;45:04.490;+0.801;+0.149;14;...
3  4;21;Classified;15;45:05.289;+1.600;+0.799;15;...
4  5;47;Classified;15;45:05.675;+1.986;+0.386;13;...

Official results columns: ['POSITION;NUMBER;STATUS;LAPS;TOTAL_TIME;GAP_FIRST;GAP_PREVIOUS;FL_LAPNUM;FL_TIME;FL_KPH;CLASS;GROUP;DIVISION;VEHICLE;TIRES;ECM Participant Id;ECM Team Id;ECM Category Id;ECM Car Id;ECM Brand Id;ECM Country Id;*Extra 7;*Extra 8;*Extra 9;Sort Key;DRIVER_*Extra 3;DRIVER_*Extra 4;DRIVER_*Extra 5']

Telemetry shape: (8981264, 13)

Telemetry shape: (8981264, 13)

,expire_at,lap,meta_event,meta_session,meta_source,meta_time,original_vehicle_id,outing,telemetry_name,telemetry_value,timestamp,vehicle_id,vehicle_number
0,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:30:59.328Z,GR86-002-2,0,accx_can,0.031,2025-08-14T22:38:33.357Z,GR86-002-2,2
1,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:30:59.328Z,GR86-002-2,0,accy_can,-0.859,2025-08-14T22:38:33.357Z,GR86-002-2,2
2,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:30:59.328Z,GR86-002-2,0,ath,20.150,2025-08-14T22:38:33.357Z,GR86-002-2,2
3,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:30:59.328Z,GR86-002-2,0,pbrake_r,0.000,2025-08-14T22:38:33.357Z,GR86-002-2,2
4,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:30:59.328Z,GR86-002-2,0,pbrake_f,0.000,2025-08-14T22:38:33.357Z,GR86-002-2,2

Telemetry columns: ['expire_at', 'lap', 'meta_event', 'meta_session', 'meta_source', 'meta_time', 'original_vehicle_id', 'outing', 'telemetry_name', 'telemetry_value', 'timestamp', 'vehicle_id', 'vehicle_number']

In [10]:
# try to guess likely lap/time columns
lap_cols  = [c for c in lap_times_r1.columns if "lap" in c.lower()]
time_cols = [c for c in lap_times_r1.columns if "time" in c.lower()]

print("Possible lap columns:", lap_cols)
print("Possible time columns:", time_cols)

Possible lap columns: ['lap']
Possible time columns: ['meta_time', 'timestamp']

In [11]:
lap_times_r1.head()
lap_times_r1.dtypes
lap_times_r1["value"].describe()
lap_times_r1["lap"].value_counts().sort_index().head(20)
lap_times_r1["vehicle_id"].nunique()

27

In [12]:
print("Min lap:", lap_times_r1["lap"].min())
print("Max lap:", lap_times_r1["lap"].max())

laps_per_car = lap_times_r1.groupby("vehicle_id")["lap"].max().sort_values()
print("\nLaps completed per car:")
laps_per_car.head(10)

Min lap: 0
Max lap: 32768

Laps completed per car:

vehicle_id
GR86-002-2     32768
GR86-004-78    32768
GR86-006-7     32768
GR86-010-16    32768
GR86-012-8     32768
GR86-013-80    32768
GR86-015-31    32768
GR86-016-55    32768
GR86-021-86    32768
GR86-022-13    32768
Name: lap, dtype: int64

In [13]:
LAP_COL = "lap"
CAR_COL = "vehicle_id"
TIME_COL = "value"

lap_basic = lap_times_r1[[CAR_COL, LAP_COL, TIME_COL]].dropna().copy()

lap_basic.rename(columns={
    CAR_COL: "car_id",
    LAP_COL: "lap_number",
    TIME_COL: "lap_time_s",
}, inplace=True)

lap_basic.head()

         car_id  lap_number  lap_time_s
0   GR86-022-13       32768     1041902
1   GR86-047-21       32768     2588041
2  GR86-063-113       32768     3079666
3   GR86-035-11       32768      268481
4   GR86-013-80       32768     2277387

In [14]:
# Median lap pace per car
lap_basic["median_pace"] = (
    lap_basic.groupby("car_id")["lap_time_s"].transform("median")
)

# Label outliers (slow laps)
lap_basic["pit_like"] = lap_basic["lap_time_s"] > lap_basic["median_pace"] * 1.35

lap_basic.head()

         car_id  lap_number  lap_time_s  median_pace  pit_like
0   GR86-022-13       32768     1041902     190852.0      True
1   GR86-047-21       32768     2588041     190587.5      True
2  GR86-063-113       32768     3079666     190889.0      True
3   GR86-035-11       32768      268481     188999.5      True
4   GR86-013-80       32768     2277387     232182.0      True

In [15]:
lap_basic = lap_basic.sort_values(["car_id", "lap_number"])

lap_basic["cumulative_time_s"] = (
    lap_basic.groupby("car_id")["lap_time_s"].cumsum()
)

In [16]:
race_state = []

for lap in sorted(lap_basic["lap_number"].unique()):
    subset = lap_basic[lap_basic["lap_number"] == lap].copy()
    subset = subset.sort_values("cumulative_time_s")
    
    subset["position"] = range(1, len(subset) + 1)
    
    leader_time = subset["cumulative_time_s"].iloc[0]
    subset["gap_to_leader_s"] = subset["cumulative_time_s"] - leader_time
    
    subset["gap_to_front_s"] = subset["cumulative_time_s"].diff().fillna(0)
    
    race_state.append(subset)

race_state_df = pd.concat(race_state).reset_index(drop=True)

race_state_df.head(20)

,car_id,lap_number,lap_time_s,median_pace,pit_like,cumulative_time_s,position,gap_to_leader_s,gap_to_front_s
0,GR86-062-012,0,516,201599.0,False,516,1,0,0.0
1,GR86-002-2,0,23221,192209.0,False,23221,2,22705,22705.0
2,GR86-049-88,0,42015,169874.5,False,42015,3,41499,18794.0
3,GR86-004-78,1,229765,171856.0,False,229765,1,0,0.0
4,GR86-049-88,1,231559,169874.5,True,273574,2,43809,43809.0
5,GR86-037-03,1,843713,184547.0,True,843713,3,613948,570139.0
6,GR86-030-18,1,846428,199993.0,True,846428,4,616663,2715.0
7,GR86-057-57,1,850797,199125.0,True,850797,5,621032,4369.0
8,GR86-012-8,1,851494,200597.0,True,851494,6,621729,697.0
9,GR86-062-012,1,854351,201599.0,True,854867,7,625102,3373.0
10,GR86-021-86,1,857433,203395.0,True,857433,8,627668,2566.0
11,GR86-065-5,1,861570,172335.0,True,861570,9,631805,4137.0
12,GR86-032-15,1,862267,189554.5,True,862267,10,632502,697.0
13,GR86-013-80,1,863884,232182.0,True,863884,11,634119,1617.0
14,GR86-040-3,1,869293,188331.5,True,869293,12,639528,5409.0
15,GR86-035-11,1,872224,188999.5,True,872224,13,642459,2931.0
16,GR86-024-41,1,876918,189865.5,True,876918,14,647153,4694.0
17,GR86-015-31,1,883832,173195.5,True,883832,15,654067,6914.0
18,GR86-063-113,1,885443,190889.0,True,885443,16,655678,1611.0
19,GR86-047-21,1,888383,190587.5,True,888383,17,658618,2940.0

In [17]:
race_state_df.head(10)

,car_id,lap_number,lap_time_s,median_pace,pit_like,cumulative_time_s,position,gap_to_leader_s,gap_to_front_s
0,GR86-062-012,0,516,201599.0,False,516,1,0,0.0
1,GR86-002-2,0,23221,192209.0,False,23221,2,22705,22705.0
2,GR86-049-88,0,42015,169874.5,False,42015,3,41499,18794.0
3,GR86-004-78,1,229765,171856.0,False,229765,1,0,0.0
4,GR86-049-88,1,231559,169874.5,True,273574,2,43809,43809.0
5,GR86-037-03,1,843713,184547.0,True,843713,3,613948,570139.0
6,GR86-030-18,1,846428,199993.0,True,846428,4,616663,2715.0
7,GR86-057-57,1,850797,199125.0,True,850797,5,621032,4369.0
8,GR86-012-8,1,851494,200597.0,True,851494,6,621729,697.0
9,GR86-062-012,1,854351,201599.0,True,854867,7,625102,3373.0

In [19]:
lap_start = pd.read_csv(race_1_path / "road_america_lap_start_R1.csv")
lap_end = pd.read_csv(race_1_path / "road_america_lap_end_R1.csv")

print("lap_start columns:", lap_start.columns.tolist())
print("lap_end columns:", lap_end.columns.tolist())
display(lap_start.head())
display(lap_end.head())

lap_start columns: ['expire_at', 'lap', 'meta_event', 'meta_session', 'meta_source', 'meta_time', 'outing', 'timestamp', 'value', 'vehicle_id']
lap_end columns: ['expire_at', 'lap', 'meta_event', 'meta_session', 'meta_source', 'meta_time', 'outing', 'timestamp', 'value', 'vehicle_id']

,expire_at,lap,meta_event,meta_session,meta_source,meta_time,outing,timestamp,value,vehicle_id
0,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:15:56.091Z,0,2025-08-16T19:15:53.297Z,2025-08-16T19:15:53.297Z,GR86-010-16
1,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:15:56.193Z,0,2025-08-16T19:15:55.658Z,2025-08-16T19:15:55.658Z,GR86-026-72
2,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:16:07.146Z,0,2025-08-16T19:16:05.532Z,2025-08-16T19:16:05.532Z,GR86-016-55
3,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:16:23.969Z,0,2025-08-16T19:16:18.337Z,2025-08-16T19:16:18.337Z,GR86-063-113
4,NaN,2,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:30:59.465Z,0,2025-08-16T19:30:57.587Z,2025-08-16T19:30:57.587Z,GR86-026-72

,expire_at,lap,meta_event,meta_session,meta_source,meta_time,outing,timestamp,value,vehicle_id
0,NaN,32768,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:06:30.162Z,0,2025-08-16T19:06:25.629Z,2025-08-16T19:06:25.629Z,GR86-062-012
1,NaN,0,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:06:30.164Z,0,2025-08-16T19:06:26.165Z,2025-08-16T19:06:26.165Z,GR86-062-012
2,NaN,32768,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:07:04.049Z,0,2025-08-16T19:07:01.733Z,2025-08-16T19:07:01.733Z,GR86-002-2
3,NaN,32768,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:15:50.599Z,0,2025-08-16T19:15:49.608Z,2025-08-16T19:15:49.608Z,GR86-036-98
4,NaN,32768,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:15:56.091Z,0,2025-08-16T19:15:53.295Z,2025-08-16T19:15:53.295Z,GR86-010-16

In [20]:
import pandas as pd

# Load start/end datasets
lap_start = pd.read_csv(race_1_path / "road_america_lap_start_R1.csv")
lap_end   = pd.read_csv(race_1_path / "road_america_lap_end_R1.csv")

print(lap_start.columns)
print(lap_end.columns)

lap_start.head(), lap_end.head()

Index(['expire_at', 'lap', 'meta_event', 'meta_session', 'meta_source',
       'meta_time', 'outing', 'timestamp', 'value', 'vehicle_id'],
      dtype='object')
Index(['expire_at', 'lap', 'meta_event', 'meta_session', 'meta_source',
       'meta_time', 'outing', 'timestamp', 'value', 'vehicle_id'],
      dtype='object')

(   expire_at  lap        meta_event meta_session   meta_source  \
 0        NaN    1  I_R05_2025-08-17           R1  kafka:gr-raw
 1        NaN    1  I_R05_2025-08-17           R1  kafka:gr-raw
 2        NaN    1  I_R05_2025-08-17           R1  kafka:gr-raw
 3        NaN    1  I_R05_2025-08-17           R1  kafka:gr-raw
 4        NaN    2  I_R05_2025-08-17           R1  kafka:gr-raw

                   meta_time  outing                 timestamp  \
 0  2025-08-16T19:15:56.091Z       0  2025-08-16T19:15:53.297Z
 1  2025-08-16T19:15:56.193Z       0  2025-08-16T19:15:55.658Z
 2  2025-08-16T19:16:07.146Z       0  2025-08-16T19:16:05.532Z
 3  2025-08-16T19:16:23.969Z       0  2025-08-16T19:16:18.337Z
 4  2025-08-16T19:30:59.465Z       0  2025-08-16T19:30:57.587Z

                       value    vehicle_id
 0  2025-08-16T19:15:53.297Z   GR86-010-16
 1  2025-08-16T19:15:55.658Z   GR86-026-72
 2  2025-08-16T19:16:05.532Z   GR86-016-55
 3  2025-08-16T19:16:18.337Z  GR86-063-113
 4  2025-08-16T19:30:57.587Z   GR86-026-72  ,
    expire_at    lap        meta_event meta_session   meta_source  \
 0        NaN  32768  I_R05_2025-08-17           R1  kafka:gr-raw
 1        NaN      0  I_R05_2025-08-17           R1  kafka:gr-raw
 2        NaN  32768  I_R05_2025-08-17           R1  kafka:gr-raw
 3        NaN  32768  I_R05_2025-08-17           R1  kafka:gr-raw
 4        NaN  32768  I_R05_2025-08-17           R1  kafka:gr-raw

                   meta_time  outing                 timestamp  \
 0  2025-08-16T19:06:30.162Z       0  2025-08-16T19:06:25.629Z
 1  2025-08-16T19:06:30.164Z       0  2025-08-16T19:06:26.165Z
 2  2025-08-16T19:07:04.049Z       0  2025-08-16T19:07:01.733Z
 3  2025-08-16T19:15:50.599Z       0  2025-08-16T19:15:49.608Z
 4  2025-08-16T19:15:56.091Z       0  2025-08-16T19:15:53.295Z

                       value    vehicle_id
 0  2025-08-16T19:06:25.629Z  GR86-062-012
 1  2025-08-16T19:06:26.165Z  GR86-062-012
 2  2025-08-16T19:07:01.733Z    GR86-002-2
 3  2025-08-16T19:15:49.608Z   GR86-036-98
 4  2025-08-16T19:15:53.295Z   GR86-010-16  )

In [21]:
# Rename columns for clarity
lap_start = lap_start.rename(columns={"value": "start_raw"})
lap_end   = lap_end.rename(columns={"value": "end_raw"})

# Convert timestamps if needed
lap_start["timestamp"] = pd.to_datetime(lap_start["timestamp"])
lap_end["timestamp"]   = pd.to_datetime(lap_end["timestamp"])

# Merge
laps = lap_start.merge(lap_end, on=["lap", "vehicle_id"], suffixes=("_start", "_end"))

# Compute lap time
laps["lap_time_s"] = (laps["timestamp_end"] - laps["timestamp_start"]).dt.total_seconds()

# Preview
laps.head()

,expire_at_start,lap,meta_event_start,meta_session_start,meta_source_start,meta_time_start,outing_start,timestamp_start,start_raw,vehicle_id,expire_at_end,meta_event_end,meta_session_end,meta_source_end,meta_time_end,outing_end,timestamp_end,end_raw,lap_time_s
0,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:15:56.091Z,0,2025-08-16 19:15:53.297000+00:00,2025-08-16T19:15:53.297Z,GR86-010-16,NaN,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:30:57.511Z,0,2025-08-16 19:30:56.852000+00:00,2025-08-16T19:30:56.852Z,903.555
1,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:15:56.193Z,0,2025-08-16 19:15:55.658000+00:00,2025-08-16T19:15:55.658Z,GR86-026-72,NaN,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:30:59.465Z,0,2025-08-16 19:30:57.586000+00:00,2025-08-16T19:30:57.586Z,901.928
2,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:16:07.146Z,0,2025-08-16 19:16:05.532000+00:00,2025-08-16T19:16:05.532Z,GR86-016-55,NaN,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:31:00.864Z,0,2025-08-16 19:31:00.077000+00:00,2025-08-16T19:31:00.077Z,894.545
3,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:16:23.969Z,0,2025-08-16 19:16:18.337000+00:00,2025-08-16T19:16:18.337Z,GR86-063-113,NaN,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:31:05.504Z,0,2025-08-16 19:31:03.788000+00:00,2025-08-16T19:31:03.788Z,885.451
4,NaN,2,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:30:59.465Z,0,2025-08-16 19:30:57.587000+00:00,2025-08-16T19:30:57.587Z,GR86-026-72,NaN,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:34:48.159Z,0,2025-08-16 19:34:46.761000+00:00,2025-08-16T19:34:46.761Z,229.174

In [22]:
import pandas as pd

# if your current df is named something else, replace `laps` below
race_laps = laps.copy()

# Standardize column names
race_laps = race_laps.rename(columns={
    "vehicle_id": "car_id",
    "lap": "lap_number",
    # "lap_time_s" is already fine
})

# Optional: if lap 0 is formation/grid lap and you want only race laps:
race_laps = race_laps[race_laps["lap_number"] > 0]

In [23]:
race_laps = race_laps.sort_values(["car_id", "lap_number"])

race_laps["cumulative_time_s"] = (
    race_laps.groupby("car_id")["lap_time_s"].cumsum()
)

race_laps.head()

,expire_at_start,lap_number,meta_event_start,meta_session_start,meta_source_start,meta_time_start,outing_start,timestamp_start,start_raw,car_id,expire_at_end,meta_event_end,meta_session_end,meta_source_end,meta_time_end,outing_end,timestamp_end,end_raw,lap_time_s,cumulative_time_s
146,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:16:00.472Z,0,2025-08-16 19:15:58.824000+00:00,2025-08-16T19:15:58.824Z,GR86-002-2,NaN,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:30:59.328Z,0,2025-08-16 19:30:59.065000+00:00,2025-08-16T19:30:59.065Z,900.241,900.241
181,NaN,2,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:30:59.328Z,0,2025-08-16 19:30:59.066000+00:00,2025-08-16T19:30:59.066Z,GR86-002-2,NaN,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:34:48.286Z,0,2025-08-16 19:34:47.786000+00:00,2025-08-16T19:34:47.786Z,228.720,1128.961
115,NaN,3,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:34:48.286Z,0,2025-08-16 19:34:47.787000+00:00,2025-08-16T19:34:47.787Z,GR86-002-2,NaN,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:38:21.862Z,0,2025-08-16 19:38:19.736000+00:00,2025-08-16T19:38:19.736Z,211.949,1340.910
41,NaN,4,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:38:21.862Z,0,2025-08-16 19:38:19.738000+00:00,2025-08-16T19:38:19.738Z,GR86-002-2,NaN,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:41:09.903Z,0,2025-08-16 19:41:09.600000+00:00,2025-08-16T19:41:09.600Z,169.862,1510.772
123,NaN,5,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:41:09.903Z,0,2025-08-16 19:41:09.600000+00:00,2025-08-16T19:41:09.600Z,GR86-002-2,NaN,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:43:59.503Z,0,2025-08-16 19:43:58.096000+00:00,2025-08-16T19:43:58.096Z,168.496,1679.268

In [24]:
race_laps["median_pace"] = (
    race_laps.groupby("car_id")["lap_time_s"].transform("median")
)

race_laps["pit_like"] = race_laps["lap_time_s"] > race_laps["median_pace"] * 1.35

In [25]:
# Sort by lap then by cumulative time (who reached that lap first)
race_state_df = race_laps.sort_values(
    ["lap_number", "cumulative_time_s"]
).copy()

# Position within each lap: 1, 2, 3, ...
race_state_df["position"] = (
    race_state_df.groupby("lap_number")["cumulative_time_s"]
    .rank(method="first")
    .astype(int)
)

# Gap to leader at each lap
race_state_df["gap_to_leader_s"] = (
    race_state_df["cumulative_time_s"]
    - race_state_df.groupby("lap_number")["cumulative_time_s"].transform("min")
)

# Gap to car directly in front at that lap
race_state_df["gap_to_front_s"] = (
    race_state_df.groupby("lap_number")["cumulative_time_s"].diff().fillna(0)
)

race_state_df.head(20)

,expire_at_start,lap_number,meta_event_start,meta_session_start,meta_source_start,meta_time_start,outing_start,timestamp_start,start_raw,car_id,...,outing_end,timestamp_end,end_raw,lap_time_s,cumulative_time_s,median_pace,pit_like,position,gap_to_leader_s,gap_to_front_s
25,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:31:08.121Z,0,2025-08-16 19:31:06.268000+00:00,2025-08-16T19:31:06.268Z,GR86-004-78,...,0,2025-08-16 19:34:56.031000+00:00,2025-08-16T19:34:56.031Z,229.763,229.763,171.2460,False,1,0.000,0.000
154,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:31:08.090Z,0,2025-08-16 19:31:07.768000+00:00,2025-08-16T19:31:07.768Z,GR86-049-88,...,0,2025-08-16 19:34:59.345000+00:00,2025-08-16T19:34:59.345Z,231.577,231.577,169.9150,True,2,1.814,1.814
151,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:17:16.097Z,0,2025-08-16 19:17:15.063000+00:00,2025-08-16T19:17:15.063Z,GR86-037-03,...,0,2025-08-16 19:31:18.785000+00:00,2025-08-16T19:31:18.785Z,843.722,843.722,171.7800,True,3,613.959,612.145
112,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:17:14.510Z,0,2025-08-16 19:17:11.420000+00:00,2025-08-16T19:17:11.420Z,GR86-030-18,...,0,2025-08-16 19:31:17.808000+00:00,2025-08-16T19:31:17.808Z,846.388,846.388,191.6620,True,4,616.625,2.666
23,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:17:06.794Z,0,2025-08-16 19:17:05.802000+00:00,2025-08-16T19:17:05.802Z,GR86-057-57,...,0,2025-08-16 19:31:16.607000+00:00,2025-08-16T19:31:16.607Z,850.805,850.805,190.3610,True,5,621.042,4.417
79,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:17:04.522Z,0,2025-08-16 19:17:03.863000+00:00,2025-08-16T19:17:03.863Z,GR86-012-8,...,0,2025-08-16 19:31:15.371000+00:00,2025-08-16T19:31:15.371Z,851.508,851.508,189.3035,True,6,621.745,0.703
111,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:17:02.844Z,0,2025-08-16 19:16:59.357000+00:00,2025-08-16T19:16:59.357Z,GR86-062-012,...,0,2025-08-16 19:31:13.725000+00:00,2025-08-16T19:31:13.725Z,854.368,854.368,189.2905,True,7,624.605,2.860
78,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:16:55.580Z,0,2025-08-16 19:16:55.413000+00:00,2025-08-16T19:16:55.413Z,GR86-021-86,...,0,2025-08-16 19:31:12.914000+00:00,2025-08-16T19:31:12.914Z,857.501,857.501,189.6315,True,8,627.738,3.133
150,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:16:51.195Z,0,2025-08-16 19:16:50.490000+00:00,2025-08-16T19:16:50.490Z,GR86-065-5,...,0,2025-08-16 19:31:12.073000+00:00,2025-08-16T19:31:12.073Z,861.583,861.583,172.1420,True,9,631.820,4.082
149,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:16:51.186Z,0,2025-08-16 19:16:49.018000+00:00,2025-08-16T19:16:49.018Z,GR86-032-15,...,0,2025-08-16 19:31:11.302000+00:00,2025-08-16T19:31:11.302Z,862.284,862.284,174.8290,True,10,632.521,0.701
148,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:16:48.916Z,0,2025-08-16 19:16:46.394000+00:00,2025-08-16T19:16:46.394Z,GR86-013-80,...,0,2025-08-16 19:31:10.283000+00:00,2025-08-16T19:31:10.283Z,863.889,863.889,217.6980,True,11,634.126,1.605
77,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:16:48.186Z,0,2025-08-16 19:16:40.173000+00:00,2025-08-16T19:16:40.173Z,GR86-040-3,...,0,2025-08-16 19:31:09.473000+00:00,2025-08-16T19:31:09.473Z,869.300,869.300,173.3000,True,12,639.537,5.411
22,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:16:36.617Z,0,2025-08-16 19:16:36.072000+00:00,2025-08-16T19:16:36.072Z,GR86-035-11,...,0,2025-08-16 19:31:08.315000+00:00,2025-08-16T19:31:08.315Z,872.243,872.243,173.8430,True,13,642.480,2.943
70,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:16:31.846Z,0,2025-08-16 19:16:29.736000+00:00,2025-08-16T19:16:29.736Z,GR86-024-41,...,0,2025-08-16 19:31:06.673000+00:00,2025-08-16T19:31:06.673Z,876.937,876.937,172.3170,True,14,647.174,4.694
75,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:16:23.897Z,0,2025-08-16 19:16:20.651000+00:00,2025-08-16T19:16:20.651Z,GR86-015-31,...,0,2025-08-16 19:31:04.494000+00:00,2025-08-16T19:31:04.494Z,883.843,883.843,170.7790,True,15,654.080,6.906
3,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:16:23.969Z,0,2025-08-16 19:16:18.337000+00:00,2025-08-16T19:16:18.337Z,GR86-063-113,...,0,2025-08-16 19:31:03.788000+00:00,2025-08-16T19:31:03.788Z,885.451,885.451,172.4880,True,16,655.688,1.608
74,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:16:23.751Z,0,2025-08-16 19:16:14.490000+00:00,2025-08-16T19:16:14.490Z,GR86-047-21,...,0,2025-08-16 19:31:02.892000+00:00,2025-08-16T19:31:02.892Z,888.402,888.402,171.3920,True,17,658.639,2.951
73,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:16:11.729Z,0,2025-08-16 19:16:10.679000+00:00,2025-08-16T19:16:10.679Z,GR86-022-13,...,0,2025-08-16 19:31:02.001000+00:00,2025-08-16T19:31:02.001Z,891.322,891.322,171.3870,True,18,661.559,2.920
110,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:16:09.549Z,0,2025-08-16 19:16:07.664000+00:00,2025-08-16T19:16:07.664Z,GR86-028-89,...,0,2025-08-16 19:31:01.169000+00:00,2025-08-16T19:31:01.169Z,893.505,893.505,171.9080,True,19,663.742,2.183
72,NaN,1,I_R05_2025-08-17,R1,kafka:gr-raw,2025-08-16T19:16:07.078Z,0,2025-08-16 19:16:06.674000+00:00,2025-08-16T19:16:06.674Z,GR86-051-71,...,0,2025-08-16 19:31:00.550000+00:00,2025-08-16T19:31:00.550Z,893.876,893.876,170.9390,True,20,664.113,0.371

In [26]:
# Check positions on a mid-race lap
race_state_df[race_state_df["lap_number"] == 5].sort_values("position").head(10)

# See one car's race
race_state_df[race_state_df["car_id"] == "GR86-062-012"].sort_values("lap_number")

# How many pit-like laps per car?
race_state_df.groupby("car_id")["pit_like"].sum().sort_values(ascending=False).head(10)

car_id
GR86-002-2      2
GR86-049-88     2
GR86-037-03     2
GR86-062-012    2
GR86-016-55     1
GR86-013-80     1
GR86-015-31     1
GR86-022-13     1
GR86-012-8      1
GR86-006-7      1
Name: pit_like, dtype: int64

In [27]:
race_laps = laps[["car_id", "lap_number", "lap_time_s",
                  "cumulative_time_s", "pit_like"]].copy()

# Just to be safe: make sure types are right
race_laps["lap_number"] = race_laps["lap_number"].astype(int)
race_laps["lap_time_s"] = race_laps["lap_time_s"].astype(float)
race_laps["cumulative_time_s"] = race_laps["cumulative_time_s"].astype(float)

race_laps = race_laps.sort_values(["lap_number", "cumulative_time_s"])
race_laps.head()

KeyError: "['car_id', 'lap_number', 'cumulative_time_s', 'pit_like'] not in index"

In [28]:
laps.columns.tolist()

['expire_at_start',
 'lap',
 'meta_event_start',
 'meta_session_start',
 'meta_source_start',
 'meta_time_start',
 'outing_start',
 'timestamp_start',
 'start_raw',
 'vehicle_id',
 'expire_at_end',
 'meta_event_end',
 'meta_session_end',
 'meta_source_end',
 'meta_time_end',
 'outing_end',
 'timestamp_end',
 'end_raw',
 'lap_time_s']

In [29]:
import pandas as pd

# Start from your current `laps` df
# Keep only what we actually need for race logic
race_laps = laps[["vehicle_id", "lap", "lap_time_s"]].copy()

# Rename to standard names
race_laps.rename(columns={
    "vehicle_id": "car_id",
    "lap": "lap_number"
}, inplace=True)

# Clean types
race_laps = race_laps.dropna(subset=["lap_time_s"])
race_laps["lap_number"] = race_laps["lap_number"].astype(int)
race_laps["lap_time_s"] = race_laps["lap_time_s"].astype(float)

# Sort by car, then lap
race_laps = race_laps.sort_values(["car_id", "lap_number"])
race_laps.head()

         car_id  lap_number  lap_time_s
145  GR86-002-2           0      23.219
146  GR86-002-2           1     900.241
181  GR86-002-2           2     228.720
115  GR86-002-2           3     211.949
41   GR86-002-2           4     169.862

In [30]:
# Cumulative race time per car
race_laps["cumulative_time_s"] = (
    race_laps.groupby("car_id")["lap_time_s"].cumsum()
)

# Median pace per car
race_laps["median_pace"] = (
    race_laps.groupby("car_id")["lap_time_s"].transform("median")
)

# Simple pit / slow-lap flag
race_laps["pit_like"] = race_laps["lap_time_s"] > race_laps["median_pace"] * 1.35

race_laps.head()

,car_id,lap_number,lap_time_s,cumulative_time_s,median_pace,pit_like
145,GR86-002-2,0,23.219,23.219,171.217,False
146,GR86-002-2,1,900.241,923.460,171.217,True
181,GR86-002-2,2,228.720,1152.180,171.217,False
115,GR86-002-2,3,211.949,1364.129,171.217,False
41,GR86-002-2,4,169.862,1533.991,171.217,False

In [32]:
# Sort by lap & cumulative time (who reached that lap first)
race_state_df = race_laps.sort_values(
    ["lap_number", "cumulative_time_s"]
).copy()

# 1) Position on each lap
race_state_df["position"] = (
    race_state_df.groupby("lap_number")["cumulative_time_s"]
    .rank(method="first")
    .astype(int)
)

# 2) Gap to leader at that lap
race_state_df["gap_to_leader_s"] = (
    race_state_df["cumulative_time_s"]
    - race_state_df.groupby("lap_number")["cumulative_time_s"].transform("min")
)

# 3) Gap to car directly in front
race_state_df["gap_to_front_s"] = (
    race_state_df.groupby("lap_number")["cumulative_time_s"].diff().fillna(0)
)

race_state_df = race_state_df.reset_index(drop=True)
race_state_df.head(15)

,car_id,lap_number,lap_time_s,cumulative_time_s,median_pace,pit_like,position,gap_to_leader_s,gap_to_front_s
0,GR86-062-012,0,0.535,0.535,176.9650,False,1,0.000,0.000
1,GR86-002-2,0,23.219,23.219,171.2170,False,2,22.684,22.684
2,GR86-004-78,1,229.763,229.763,171.2460,False,1,0.000,0.000
3,GR86-049-88,1,231.577,231.577,169.9150,True,2,1.814,1.814
4,GR86-037-03,1,843.722,843.722,171.7800,True,3,613.959,612.145
5,GR86-030-18,1,846.388,846.388,191.6620,True,4,616.625,2.666
6,GR86-057-57,1,850.805,850.805,190.3610,True,5,621.042,4.417
7,GR86-012-8,1,851.508,851.508,189.3035,True,6,621.745,0.703
8,GR86-062-012,1,854.368,854.903,176.9650,True,7,625.140,3.395
9,GR86-021-86,1,857.501,857.501,189.6315,True,8,627.738,2.598
10,GR86-065-5,1,861.583,861.583,172.1420,True,9,631.820,4.082
11,GR86-032-15,1,862.284,862.284,174.8290,True,10,632.521,0.701
12,GR86-013-80,1,863.889,863.889,217.6980,True,11,634.126,1.605
13,GR86-040-3,1,869.300,869.300,173.3000,True,12,639.537,5.411
14,GR86-035-11,1,872.243,872.243,173.8430,True,13,642.480,2.943

In [33]:
from pathlib import Path

project_root = Path("..")
save_path = project_root / "data_processed" / "road-america" / "race1_race_state.csv"

race_state_df.to_csv(save_path, index=False)

save_path

WindowsPath('../data_processed/road-america/race1_race_state.csv')